:root {
    --color-primary-home: #0B132B;
    --color-secondary-home: #FFFFFF;
    --color-tertiary-home: #4B86B4;
    --color-quaternary-home: #5DA9E9;
}


.home__banner {
    background-color: var(--color-primary-home);
    color: var(--color-secondary-home);
    background-image: url("/public/images/portada3.jpg");
    background-size: cover;
    background-position: center;
    height: calc(100vh - 10px);
    min-height: 569px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    color: #333;
}


.home__banner h1 {
    font-size: 3rem;
}

.home__banner p {
    font-size: 1.5rem;
}

.home__banner button {
    color: var(--color-primary-home);
    background-color: var(--color-secondary-home);
    border: 2px solid var(--color-primary-home);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home__banner button:hover {
    background-color: var(--color-primary-home);
    color: var(--color-secondary-home);
    border: 2px solid var(--color-secondary-home);
}


.home__services {
    background-color: var(--color-secondary-home);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-top: -5rem;
}

.home__services-item {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--color-secondary-home);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.home__services-item i {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__services-item h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home__services-item p {
    font-size: 1rem;
    color: #888;
    margin-bottom: 0;
}

.home__services-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.home__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--color-secondary-home);
}

.home__categories-header {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.home__categories h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.home__category-item {
    display: inline-block;
    margin: 1rem;
    transition: all 0.3s ease;
    background-color: var(--color-secondary-home);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.home__category-item img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.home__category-item h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
}

.home__category-item:hover {
    transform: translateY(-3px);
    background-color: var(--accent-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

@media (min-width: 562px) {
    .home-categories {
        display: flex;
        justify-content: space-between;
    }

    .home-category {
        width: calc(33.33% - 20px);
        margin-right: 20px;
    }

    .home-category:last-child {
        margin-right: 0;
    }
}


@media (max-width: 561px) {
    .home__categories {
        height: auto;
    }

    .home__category-item {
        width: 75%;
        margin: 1rem auto;
    }

    .home__category-item img {
        width: 100%;
        height: auto;
    }
}