:root {
    --color-primary: #9A208C;
    --color-secondary: #FFEAEA;
    --color-tertiary: #E11299;
    --color-quaternary: #F5C6EC;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem;
}

.NavBar__logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: none;
}

.NavBar__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar__list li {
    margin-left: 1rem;
}

.NavBar__list li a {
    color: var(--color-secondary);
    text-decoration: none;
}

.NavBar__list li a:hover {
    color: var(--color-quaternary);
}


.NavBar__toggle {
    display: none;
}

/* Media query para menú hamburguesa */
@media (max-width: 568px) {
    .NavBar {
        flex-direction: row;
        align-items: flex-start;
    }

    .NavBar__list {
        position: absolute;
        top: 3.5rem;
        /* Ajusta la distancia a tu preferencia */
        left: 0;
        right: 0;
        background-color: var(--color-primary);
        display: none;
        flex-direction: column;
        margin: 0;
        padding: 1rem;
    }

    .NavBar__list li {
        margin: 0;
        padding: 0.5rem;
    }

    .NavBar__list li a {
        color: var(--color-secondary);
        text-decoration: none;
    }

    .NavBar__toggle {
        display: block;
        color: var(--color-quaternary);
        font-size: 1.5rem;
        margin-right: 1rem;
        cursor: pointer;
    }

    .NavBar__toggle:focus {
        outline: none;
    }

    .NavBar__toggle:hover,
    .NavBar__toggle:focus {
        color: var(--color-tertiary);
    }

    .NavBar__toggle .icon-bar {
        display: flex;
        width: 1.5rem;
        height: 0.2rem;
        margin-bottom: 0.3rem;
        background-color: var(--color-quaternary);
        border-radius: 1rem;
    }

    .NavBar__toggle.open .icon-bar:nth-of-type(1) {
        transform: rotate(-45deg) translate(-0.4rem, 0.4rem);
    }

    .NavBar__toggle.open .icon-bar:nth-of-type(2) {
        opacity: 0;
    }

    .NavBar__toggle.open .icon-bar:nth-of-type(3) {
        transform: rotate(45deg) translate(-0.4rem, -0.4rem);
    }

    .NavBar__list.open {
        display: flex;
        gap: 3px;
    }
}