.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292f36;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.NavBar__logo a {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px #363636;
}

.NavBar__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.NavBar__list li {
    margin-right: 20px;
}

.NavBar__list li:last-child {
    margin-right: 0;
}

.NavBar__list a {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 2px 2px #363636;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #3d3d3d, #2c2c2c);
}

.NavBar__list a:hover {
    background-image: linear-gradient(to bottom, #2c2c2c, #1c1c1c);
}

@media screen and (max-width: 768px) {
    .NavBar__list {
        display: none;
    }
}