:root {
    --color-primary-footer: #0B132B;
    --color-secondary-footer: #FFFFFF;
    --color-tertiary-footer: #4B86B4;
    --color-quaternary-footer: #5DA9E9;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }
}

footer {
    background-color: var(--color-primary-footer);
    color: var(--color-secondary-footer);
    padding: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 0 auto;
}

.footer-text {
    margin: 0;
}

.footer-text a {
    color: var(--color-tertiary-footer);
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}