:root {
    --color-primary-products: #0B132B;
    --color-secondary-products: #FFFFFF;
    --color-tertiary-products: #4B86B4;
    --color-quaternary-products: #5DA9E9;
    --font-family: "Roboto", sans-serif;
    --breakpoint-sm: 576px;
}

/* 2. Estilos generales de la página */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: var(--color-primary-products);
    font-family: var(--font-family);
    min-height: calc(100vh - 173px);
}

.header,
.products p {
    text-align: center;
    line-height: 1.5;
}

.header {
    margin-bottom: 20px;
}

/* 3. Estilos de los productos */
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.products h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
}

.products p {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: var(--color-primary-tertiary);
}

/* 4. Estilos de los botones */
button {
    color: var(--color-primary-home);
    background-color: var(--color-secondary-home);
    border: 2px solid var(--color-primary-home);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

button:hover {
    background-color: var(--color-primary-products);
    color: var(--color-secondary-products);
    border: 2px solid var(--color-secondary-products);
}

/* 5. Media queries */
@media (min-width: var(--breakpoint-sm)) {
    .products {
        background-color: var(--color-secondary-products);
    }

    /* Hacer que el ancho máximo del texto de descripción del producto sea un poco más grande */
    .products p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}